body, html{
	padding: 0;
	margin: 0;
	overflow: hidden;
	background-color: #0000F0;
	-webkit-user-select: none;
	-moz-user-select: none;
    -ms-user-select: none;
	user-select: none; 
	font-family: Arial;
}
canvas {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0
}

@keyframes blink {
  0%    { opacity: 1 }
  45%   { opacity: 1 }
  55%   { opacity: 0 }
  100%  { opacity: 0 }
}

.blink {
	-webkit-animation: blink 900ms infinite;
	-moz-animation:    blink 900ms infinite;
	-o-animation:      blink 900ms infinite;
	animation:         blink 900ms infinite
}

#shell-input {
	opacity: 0; 
	position: absolute
}

#caret {
	height: 0px;
	width: 10px;
	border-bottom: 4px solid #00d700;
	color: #00d700
}

#toolbar {
	background: white;
	width: 100%;
	position: absolute;
	z-index: 999;
}

#toolbar .right {
	float: right;
	margin-left: 0;
    margin-right: 14px;
}

#toolbar img {
	opacity: 0.8;
	margin-left: 14px;
	height: 24px;
	cursor: pointer;
}

#toolbar .active {
	background: rgb(195, 195, 252);
	box-shadow: 0 0 0 2px rgb(195, 195, 252), 0 0 0 3px rgb(0, 0, 240);
}

#toolbar .inactive {
	opacity: 0.2;
	cursor: default;
}

#tt-div {
	position: absolute;
	margin: 0;
	padding: 0;
	display: none;
	top: 0px;
	left: 0px;
	opacity: 0;
	z-index: 99999;
}

#tt-content {
	background: rgb(255, 255, 255);
	padding: 4px 10px;
	box-sizing: border-box;
	border-radius: 2px;
	font-size: 1em;
	font-weight: bold;
	color: rgb(90, 90, 90);
	position: relative;
	z-index: 1;
	-webkit-filter: drop-shadow(0px 0px 2px black);
}

#tt-div img {
	z-index: 2;
	position: absolute;
}

#shell-container {
	background-color: black;
	position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 14px;
    overflow-y: scroll;
    line-height: 1.4em;
    font-size: 1em;
}

.shell {
    width: 100%;
    left: 0;
    top: 0;
    color: #00d700;
    font-family: 'Arial';
    box-sizing: border-box;
    cursor: default;
}

.error {
	color: red;
}